<!DOCTYPE html>
<html>
<head>
  <title>WebsocketGamepad</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= link_to "Sign out", player_sessions_path, method: :delete %>

</body>
</html>
